# Fifa19 Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Fifa19 Dataset](https://www.kaggle.com/winterbreeze/fifa19eda) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read fifa_eda.csv as a dataframe called fifa.**

In [3]:
fifa = pd.read_csv("fifa_eda.csv")
fifa

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

**Check the head of the DataFrame.**

In [4]:
fifa.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

**Use the .info() method to find out how many entries there are.**

In [5]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [6]:
fifa.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

**What is the average Age ?**

In [7]:
fifa["Age"].mean()

25.122205745043114

**What is the greatest Height? and name of the player with that height?**

In [12]:
fifa[fifa["Height"] == fifa["Height"].max()]["Height"].max()

6.75

In [13]:
fifa[fifa["Height"] == fifa["Height"].max()]["Name"]

11614      T. HolÃ½
17927    D. Hodzic
Name: Name, dtype: object

**What is the smallest weight? and name of the player with that weight? and for which club plays?**

In [15]:
fifa[fifa["Weight"] == fifa["Weight"].min()]["Weight"].min()

110.0

In [30]:
fifa[fifa["Weight"] == fifa["Weight"].min()][["Name","Club"]]

                Name             Club
13338  B. Al Mutairi         Al Batin
17157   K. Yamaguchi  Shonan Bellmare

**What is the position of Cristiano Ronaldo?**

In [26]:
fifa[fifa["Name"] == "Cristiano Ronaldo"]["Position"]

1    ST
Name: Position, dtype: object

**What was the average (mean) Value of all players per year(Joined column) ?**

In [50]:
fifa.groupby("Joined").agg(
    value = pd.NamedAgg(column="Value",aggfunc="mean")
).sort_values(by="value",ascending=False)

               value
Joined
2004    10415.833333
2005     5544.705882
2008     5377.924528
2010     5240.839695
2011     4868.241206
2007     4730.789474
2013     4181.320961
2012     3840.988201
2014     3549.077017
2009     3468.269231
2015     3335.755988
2016     2511.245432
2002     2351.250000
2017     2125.398374
2018     1913.759519
2006     1208.055556
2003     1148.076923
2001      237.500000
1991      160.000000
2000      110.000000
1998      106.666667
1999       40.000000

**get Number of players for each club**

In [76]:
fifa.groupby("Club")["Name"].count().sort_values(ascending=False)

Club
Borussia Dortmund    33
Tottenham Hotspur    33
Chelsea              33
Valencia CF          33
Everton              33
                     ..
Fluminense           20
Botafogo             20
Limerick FC          19
Sligo Rovers         19
Derry City           18
Name: Name, Length: 651, dtype: int64

In [77]:
fifa["Club"].value_counts()

Club
FC Barcelona                 33
Valencia CF                  33
Fortuna DÃ¼sseldorf           33
Cardiff City                 33
Rayo Vallecano               33
                             ..
AmÃ©rica FC (Minas Gerais)    20
Fluminense                   20
Sligo Rovers                 19
Limerick FC                  19
Derry City                   18
Name: count, Length: 651, dtype: int64

**How many unique Clubs are there?**

In [59]:
fifa["Club"].nunique()

651

**What are the top 5 most common positions?**

In [61]:
fifa["Position"].value_counts().head()

Position
ST    2154
GK    2027
CB    1779
CM    1395
LB    1372
Name: count, dtype: int64

**What are the top 5 most common nationality?**

In [103]:
fifa["Nationality"].value_counts().head()

Nationality
England      1662
Germany      1198
Spain        1072
Argentina     937
France        914
Name: count, dtype: int64

**What are the names of players has Egyptian Nationality?**

In [67]:
fifa[fifa["Nationality"] == "Egypt"]["Name"]

26             M. Salah
752           Trezeguet
959           M. Elneny
1517          A. Hegazi
2241          A. Hassan
2259            Kahraba
2334           R. Sobhi
3310      A. Elmohamady
3616           A. Warda
3929          A. Ghazal
4044           A. Tarek
4217          Shikabala
4504         A. El Said
5614           A. Fathi
5913           M. Hamdy
5944           S. Morsy
6021          A. Ashraf
6407          S. Ekramy
6717            A. Gabr
6804           O. Gaber
7102     M. Abdul Shafy
8325          A. El-Abd
8441           T. Hamed
9165      M. El-Shenawy
9228        H. El Sayed
9297            M. Awad
9514        A. Jakobsen
9665           K. Hafez
9911          M. Mohsen
10672           M. Atwa
13891        A. Mostafa
Name: Name, dtype: object

**How many players joined in 2018 with skill moves=2?**

In [104]:
fifa[(fifa["Joined"] == 2018) & (fifa["Skill Moves"] == 2)].shape[0]

3295

**How many players whom name starts with letter  'M'?**

In [96]:
fifa[fifa["Name"].str.startswith('M')].shape[0]

1975

**Bonus: Is there a correlation between International Reputation and Wage?**

In [98]:
fifa[["International Reputation","Wage"]].corr()

                          International Reputation      Wage
International Reputation                  1.000000  0.668635
Wage                                      0.668635  1.000000